CHECK_REDLINES='[{\"identifier\":\"10_1581409320500__10_1581421770772__CHECK_REDLINES__0\",\"key\":\"PassRate\",\"type\:\"GE\"}]'
TESTCOMMAND='robot .'
WORK_SPACE='$TESTDIR'
FRPC=$FRPCINI
RECORD=robot_logs/autotest.mp4
