CHECK_REDLINES='[{"identifier":"10_1581409320500__10_1581421770772__CHECK_REDLINES__0","key":"PassRate","type":"GE","threshold":"100"}]'
TESTCOMMAND='python test.py'
WORK_SPACE='$TESTDIR'
FRPC=$FRPCINI
RECORD=logs/autorun.mp4
